@tailwind base;
@tailwind components;
@tailwind utilities;

body{
   background: url('./assets/Img/windose 11.jpeg');
   background-size: cover;
   background-repeat: no-repeat;
  
   
   
}
::placeholder {
    text-align: center; 
 }
 .input-with-space {
    letter-spacing: 4px;
 }

 input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type="number"] {
  -moz-appearance: textfield;
}